In [29]:
import pandas as pd

df_bank = pd.read_csv('bank.csv', sep=';')
df_bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

Adaptando Atributos Categóricos com Label Encoder

In [23]:
from sklearn.preprocessing import LabelEncoder

le = label_encoder_job = LabelEncoder()
x_bank[:, 1] = label_encoder_job.fit_transform(x_bank[:, 1])
print(x_bank[0, :])

[30 10 'married' 'primary' 'no' 1787 'no' 'no' 'cellular' 19 'oct' 79 1 -1
 0 'unknown']

In [25]:
label_encoder_marital = LabelEncoder()
label_encoder_education = LabelEncoder()
label_encoder_default = LabelEncoder()
label_encoder_housing = LabelEncoder()
label_encoder_loan = LabelEncoder()
label_encoder_contact = LabelEncoder()
label_encoder_month = LabelEncoder()
label_encoder_poutcome = LabelEncoder()

In [27]:
x_bank[:, 2] = label_encoder_marital.fit_transform(x_bank[:, 2])
x_bank[:, 3] = label_encoder_education.fit_transform(x_bank[:, 3])
x_bank[:, 4] = label_encoder_default.fit_transform(x_bank[:, 4])
x_bank[:, 6] = label_encoder_housing.fit_transform(x_bank[:, 6])
x_bank[:, 7] = label_encoder_loan.fit_transform(x_bank[:, 7])
x_bank[:, 8] = label_encoder_contact.fit_transform(x_bank[:, 8])
x_bank[:, 10] = label_encoder_month.fit_transform(x_bank[:, 10])
x_bank[:, 15] = label_encoder_poutcome.fit_transform(x_bank[:, 15])
print(x_bank[0, :])

[30 10 1 0 0 1787 0 0 0 19 10 79 1 -1 0 3]

In [30]:
x_bank

array([[30, 10, 1, ..., -1, 0, 3],
       [33, 7, 1, ..., 339, 4, 0],
       [35, 4, 2, ..., 330, 1, 0],
       ...,
       [57, 9, 1, ..., -1, 0, 3],
       [28, 1, 1, ..., 211, 3, 1],
       [44, 2, 2, ..., 249, 7, 1]], dtype=object)

In [31]:
from sklearn.preprocessing import LabelEncoder

label_encoder_y = LabelEncoder()
y_bank = label_encoder_y.fit_transform(y_bank)
y_bank

array([0, 0, 0, ..., 0, 0, 0])